.block {
  position: relative;
  margin:  10px 0;

  & > div {
    padding: 20px 0  !important;;
    margin: 0  !important;
  }

  .copy {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 13px;
  }
}
