.search-result-item h3 {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0px;
  color: #1a0dab;
}

.search-result-item p {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0px;
  color: #4d5156;
}