.elevator-pitch-app {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.elevator-pitch-editor {
  flex: 2;
  padding: 0 12px;
}

.elevator-pitch-product-details {
  flex: 2;
  padding: 0 12px;
}