.elevator-pitch-preview {
  padding: 24px;
  margin: 4px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.elevator-pitch-preview h2 {
  color: #b5174d;
  text-align: center;
}

.elevator-pitch-preview-field {
  background-color: #37b9d0;
  min-height: 64px;
  border-radius: 32px 8px 8px 32px;
  padding: 12px 12px 12px 32px;
  color: #fff;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.elevator-pitch-preview-field .label {
  font-weight: bold;
  font-size: 16px;
  margin-right: 4px;
}

.elevator-pitch-preview-field .paragraph {
  font-weight: 300;
  font-size: 16px;
}
