
.chat-box {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
}

.bot-message {
  margin-bottom: .5rem;
  align-items: flex-start;
  display: flex;
  margin-right: 44px;
  padding: 16px 32px;
}

.bot-avatar {
  border: 1px solid #e5e7eb;
  border-radius: calc(.5rem - 2px);
  margin-right: 12px;
  padding: 5px;
  width: 32px;
  height: 32px;
}

.bot-message-content {
  background: #f3f4f6;
  border-radius: 16px;
  display: flex;
  padding: 12px 16px;
}

.user-message {
  margin-bottom: .5rem;
  align-items: flex-start;
  display: flex;
  margin-left: 44px;
  padding: 16px 32px;
}

.user-avatar {
  border: 1px solid #e5e7eb;
  border-radius: calc(.5rem - 2px);
  margin-left: 12px;
  padding: 5px;
  width: 32px;
  height: 32px;
}

.user-message-content {
  background: #d1e9ff80;
  border-radius: 16px;
  margin-right: 0px;
  margin-left: auto;
  display: flex;
  padding: 12px 16px;
}

#message-form {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center; /* Centers the form horizontally */
}

div.input-form {
  margin: 10px;
  width: 80%;
  border: 1px solid #e2e8f0;
  border-radius: 16px;
}

#input-message {
  padding: 0 16px;
  border: none;
  border-radius: 16px;
  height: 42px;
  line-height: 42px;
}

#submit-button {
  padding: 10px 15px;
  border: none;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  cursor: pointer;
}
