.more-coming-soon {
  background-color: #fff;
}

.more-coming-soon-icon-area {
  justify-content: end;
  align-items: center;
  height: 30vh;
  display: flex;
  flex-direction: column;
}

.more-coming-soon-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.more-coming-soon-logo img {
  width: 72px;
  height: 72px;
}

.more-coming-soon-logo h6 {
  font-size: 48px;
  font-style: italic;
  font-family: system-ui;
  font-weight: 600;
  margin: 0 0 0 12px;
  vertical-align: middle;
  display: inline;
}

.more-coming-soon-list {
  justify-content: end;
  align-items: center;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.more-coming-soon-list a {
  margin: 10px;
  text-decoration: underline;
  font-style: italic;
}