.elevator-pitch-product-details {
  padding: 24px;
  margin: 4px;
  background-color: #fff;
}

.form-submit-buttons {
  margin-bottom: 24px;
}

.form-submit-buttons button {
  margin-right: 12px;
}

.generated-elevator-pitch {
  border-radius: 8px;
  border: 1px solid #ccc;
  height: 100%;
  padding: 8px;
  overflow: auto;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}