.message-item {
  display: flex;
  align-items: start;
  justify-content: end;
  margin-bottom: .5rem;
  padding: 16px 32px;
}

.message-item.message-assistant {
  justify-content: start;
}


.bot-avatar {
  border: 1px solid #e5e7eb;
  border-radius: calc(.5rem - 2px);
  margin-right: 12px;
  padding: 5px;
  width: 32px;
  height: 32px;
}

.message-content {
  background: #f3f4f6;
  border-radius: 16px;
  padding: 12px 16px;
}

.bot-message-content {
  background: #f3f4f6;
}

.user-message-content {
  background: #d1e9ff80;
}


.user-avatar {
  border: 1px solid #e5e7eb;
  border-radius: calc(.5rem - 2px);
  margin-left: 12px;
  padding: 5px;
  width: 32px;
  height: 32px;
}
