.search-page {
  background-color: #fff;
}

aside.search-page-sider {
  background-color: #fff;
}

.search-page-results {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 10px;
}

.search-results {
  width: 40vw;
  padding: 10px;
}

.search-page-summary {
  margin-top: 20px;
  margin-left: 20px;
  width: 40vw;
}